{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">{% endblock %}
{% block content %}
    <div class="boutonContact">
        <a class="boutonBeer contact" href="/contact/send"><img src="/assets/images/phone.png" alt=""></a>
    </div>
    <h1 class="text-shadow">SNAP<span>SHOT</span></h1>
    <h2>Thirsty ? We’ve got your back !</h2>
    <div class="container">
        <div class="col-lg-12 justify-content-center">
            <p class="middleText">
                We know prohibition bores you. You'd like to <strong>drink alcohol</strong>. Lots of it. No holds
                barred.
                The police officers are there, on to the streets, in the coffee shops.
                They're watching everything you do, but they're also watching what you drink.
                </br></br>
                <strong>We are there for you !</strong>
                With <strong>SNAPSHOT</strong>, we offer you a solution that allows you to <strong>recreate</strong>
                your favorite drinks from what you have in your cupboards and refrigerator !
                </br></br>
                For security measures, you will only have <strong>twenty seconds</strong> to look at your drink.
                </br></br>
                All you need is a still, your ingredients, and your insatiable urge to get drunk.
            </p>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center">
            <form method="post" action="/shot/chooseYourAlcohol" class="d-flex flex-column align-items-center">
                <label class="buttons-text">Choose you alcohol</label>
                <select name="alcohol" id="alcohol" class="browser-default custom-select">
                    <option value="Vodka">Potato Alcohol</option>
                    <option value="Gin">Bathtub Gin</option>
                    <option value="Rum">Beet Alcohol</option>
                    <option value="Tequila">Fermented Salsa Sauce</option>
                    <option value="Scotch">Gasoline</option>
                </select>
                <button class="boutonBeer justify-self-center button-margin">Get my shot !</button>
            </form>
        <p class="trust-us">... or trust us</p>
        <a class="boutonBeer button-margin" href="/shot/show">BEER ME ! *</a>
    </div>
{% endblock %}
{% block footer %}
    <footer class="advertisement">
        <p class="hidden-text">
            * Smuggled alcohol may cause blindness, brain damage and sometimes death, we disclaim any responsibility.
        </p>
        <a class="footlink" href="/snapshot/disclaimer">Disclaimer</a>
    </footer>
{% endblock %}