body {
    background: var(--background);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: var(--font-family-title);
    color: var(--light);
    padding: var(--spacing-4);
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--light);
    margin: var(--spacing-8);
    text-align: center;
}

label {
    color: var(--light);
}

p {
    color: var(--light);
    margin: var(--spacing-8);

}

.boutonBeer {
    margin: var(--spacing-4);
    border: none;
    border-radius: .25rem;
    font-size: 1.125rem;
    padding: 15px 20px;
    cursor: pointer;
    font-family: var(--font-family-title);
    color: var(--light);
    background-color: #21201f;
}

.boutonBeer:hover {
    animation: pulsation_bouton .8s ease-out;
    text-decoration: none;
    color: var(--light);
}

@keyframes pulsation_bouton {

    from {
        box-shadow: 0 0 0 -3px hsla(0, 0%, 100%, 0), 0 0 0 0 hsl(44, 66%, 57%);
    }

    to {
        box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0), 0 0 0 13px hsla(0, 0%, 100%, 0);
    }
}