body {
    background: var(--background);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: var(--font-family-title);
    color: var(--light);
    padding: var(--spacing-4);
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--light);
    margin: var(--spacing-8);
    text-align: center;
}

label {
    color: var(--light);
}

p {
    color: var(--light);
    margin: var(--spacing-8);

}
