body {
    background: var(--background);
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--light);
    margin: var(--spacing-8);
    text-align: center;
}

.middleText {
    color: var(--light);
    margin: var(--spacing-8);
    text-align: center;
}

.boutonBeer {
    margin: var(--spacing-4);
    margin-bottom: var(--spacing-2);
    border: none;
    border-radius: .25rem;
    font-size: 1.125rem;
    padding: 15px 20px;
    cursor: pointer;
    font-family: var(--font-family-title);
    color: var(--light);
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
}

.boutonBeer:hover {
    animation: pulsation_bouton .8s ease-out;
    text-decoration: none;
    color: var(--light);
    text-shadow: 2px 2px rgba(0,0,0,0.75);
}

.advertisement p {
    color: var(--light);
}

footer {
    margin-top: var(--spacing);
    opacity: var(--opacity);
}

footer p {
    font-size: var(--spacing-2);
    opacity: var(--opacity);
    margin: 0 var(--spacing-2);
}

@keyframes pulsation_bouton {

    from {
        box-shadow: 0 0 0 -3px hsla(0, 0%, 100%, 0), 0 0 0 0 hsl(60, 25%, 98%);
    }

    to {
        box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0), 0 0 0 13px hsla(0, 0%, 100%, 0);
    }
}

@media screen and (max-width: 1000px) {

    h1 {
        padding: var(--spacing-2);
        font-size: var(--title-font-size-responsive);
    }

    h2 {
        margin: var(--spacing-2);
    }

    .middleText {
        margin: var(--spacing-2);
    }

    .boutonBeer {
        margin: 0;
    }

}


