body {
    background: var(--background);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

span {
    color: var(--second-color);
    font-family: var(--font-family-title);
}

h2 {
    font-family: var(--font-family-title);
    display: flex;
    justify-content: center;
    color: var(--light);
    margin: var(--spacing-6);
    text-align: center;
}

.page-title {
    margin-bottom: 0;
}

.cocktail-title {
    margin-bottom: 0;
    margin-top: 0;
}

.shot-image {
    background: var(--dark);
}

.danger {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    bottom: var(--spacing-2);
    right: var(--spacing-6);
    max-width: 64px;
}

.danger:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.butonContainer {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.refresh {
    position: fixed;
    top: var(--spacing-2);
    max-width: 64px;
}

.danger img{
    height: 70px;
    width: auto;
}

.cocktail {
    width: 370px;
    height: 370px;
    object-fit: cover;
    filter: sepia(60%);
    border: 16px solid var(--light);
    border-bottom: 72px solid var(--light);
    transform: rotate(-10deg);
    transition-duration: 0.8s;
    transition-property: transform;
}

.cocktail:hover {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
}

.recipe-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--spacing-4);
    padding: var(--spacing-6);

}

.middleText {
    color: var(--light);
    margin: var(--spacing-8);
    text-align: center;
}

ul {
    padding: var(--spacing-4);

}
li {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--light);
    list-style: square;
}

.inspirational-bullshit {
    font-size: calc(var(--font-size-h3)*0.8);
    opacity: var(--opacity);
    line-height: 1em;
    font-style: italic;
    padding: var(--spacing-4);
    margin-bottom: var(--spacing-2);
}

.inspirational-bullshit:before{
    content: url("/assets/images/left-quotes-sign.png");
    opacity: var(--opacity);
}

.inspirational-bullshit:after {
    content: url("/assets/images/right-quotes-symbol.png");
    opacity: var(--opacity);
}

@keyframes pulsation_bouton {

    from {
        box-shadow: 0 0 0 -3px hsla(0, 0%, 100%, 0), 0 0 0 0 hsl(60, 25%, 98%);
    }

    to {
        box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0), 0 0 0 13px hsla(0, 0%, 100%, 0);
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        padding-top: 150px;
    }
}

@media screen and (max-width: 575px) {
    .danger {
        display: none;
    }
    h1 {
        font-size: 4rem;
    }
    ul {
        margin-top: var(--spacing-4);
    }
    .boutonBeer {
        position: absolute;
    }
}