<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email admin</title>
</head>
<body>

<h1>Message from {{ contact.firstname }} {{ contact.lastname  }}</h1>
<p>Respond to {{ contact.email }}</p>
This is the message sent:
<p>{{ contact.message }}</p>

</body>
</html>