{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/contact.css"> {% endblock %}
{% block title %}{{ parent() }} | Thank you for your order! {% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class=" text-center">
            <h1>Thanks</h1>
            <p class="lead">
                Your message has been sent, we will get back to you as soon as possible.
            </p>
            <hr>
            <p class="lead">
                <a href='/home/index/' class="boutonBeer btn btn-dark" role="button">Back to Home</a>
            </p>
        </div>
    </div>
{% endblock %}